* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9; 
    color: #333;
    line-height: 1.6;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    text-align: center;
}

/*Header*/
.sidebar {
    background: linear-gradient(135deg, #cea67d 0%, #c79d7d 100%);
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.my_image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    transition: transform 0.3s ease;
}

.my_image:hover {
    transform: scale(1.05);
}

.subtitle {
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', monospace;
    font-size: 1.2rem;
}

.subtitle, .sidebar p {
    font-size: 1.5rem;     
    letter-spacing: 1px;   
}

section {
    padding: 60px 20px; 
    max-width: 1000px;
    margin: 0 auto;
    text-align: center; 
}

h2 {
    color: #d4a373;
    font-size: 2.2rem;
    border-bottom: 3px solid #d4a373;
    display: table; 
    margin: 0 auto 30px auto; 
    padding: 0 20px 10px 20px;
}

.about-me > p {
    max-width: 800px; 
    margin: 0 auto;   
    font-size: 1.1rem;
}

/*Education Grid */
.education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

/*Project Cards */
.project-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 40px;
    margin-bottom: 40px; 
    transition: transform 0.3s ease;
    
}

.proj-img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

/*Certificate Card */
.certificate-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); 
    padding: 30px;            
    margin: 40px auto;        
    max-width: 600px;        
    width: 90%;               
    text-align: center;
    transition: transform 0.3s ease;
}

.certificate-img {
    width: 100%;              
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    display: block;          
    margin-left: auto;
    margin-right: auto;
}


.card:hover, .project-card:hover, .certificate-card:hover {
    transform: translateY(-10px);
}


footer {
    padding: 40px;
    background: #333;
    color: white;
    text-align: center;
}

/* For Desktop */
@media (min-width: 768px) {
    .project-card {
        display: flex;
        flex-direction: row; 
        align-items: center;
        text-align: left; 
        gap: 30px;
    }

    .card-text {
        flex: 1; 
    }
    
    .proj-img {
        flex: 0 0 300px; 
        max-width: 300px;
    }
}
